.blue_overline_text {
    color:blue;
    text-decoration: overline;
}

#underline_text {
    text-decoration: underline;
}

#red_text {
    color: red;
}

#blue_text {
    color: blue;
}

#small_image {
    width: 200;
    height: 200;
}

#background_color_grey {
    background-color: #111;
}

#center {
    text-align: center;
}

#main_text {
    margin-left: 11%;
    width: 80%;
    line-height: 1.5;
}

#menu {
    width: 10%;
    background: #0e0e0f;
    border-top: 2px solid #c77500;
    border-right: 2px solid #c4995c;
    border-bottom: 2px solid #aaa;
    font-size: 17px;
    color: #c77500;
    line-height: 1.6;
    float: left;
    position: fixed;
}

#vertical_center {
    position: absolute;
    top: 28%;
}

#text_left {
    text-align: left;
}

p {
    font-size: 20px;
    color: #aaa;
    text-align: center;
}

h1 {
    color: gray;
}

h2 {
    font-size: 35px;
    color: #c77500;
}

h3 {
    font-size: 25px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #aaa;
}

a {
    color: #c77500;
}

a:link {
    color: #c77500;
}

a:visited {
    color: #c77500;
}

a:hover {
    color: #aaa;
}

table {
    border: 10px solid #0e0e0f;
    background: #0e0e0f;
}

td {
    border-bottom: 10px solid #0e0e0f;
    color: #c77500;
}

dl {
    font-size: 20px;
    color: #aaa;
}

dt {
    color: #c4995c;
}